body {
    background-color: #F0F1F3;
    color: #666;
}


.inei .jumbotron {
    background: none;
}

a {
    color: #447BC4;
}


h1{
display: inline-block;
color: #1570A6;
margin-bottom: 4px;
}

h2{
margin-bottom: 15px;
display: inline-block;
margin-right: 10px;
}

h1, h2, h3, h4, h5 {
font-family: 'Segoe UI Light', "Segoe UI", Verdana, Arial, Helvetica, serif;
}

hr {
border: 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #fff;
margin: 35px 0 50px;
}

/* SITE */

#header {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-bottom: 5px solid #447BC4 !important;
    padding: 10px 20px 5px;
    position: relative;
}

#oted {
    color: #447BC4;
    height: 30px;
    position: absolute;
    right: 20px;
    text-align: right;
    text-transform: uppercase;
    top: 33px;
}


#footer {
    background: url(../img/bg-footer.png) repeat-x scroll 0 bottom #33559B;
    border-top: 1px solid #000000;
    bottom: 0;
    display: block;
    padding: 5px 0 3px;
    color: #669BE1;
    position: relative;
    width: 100%;
    z-index: 9999;
    font-size: 87%;
}

#footer a, #footer a:hover{
    color: #669BE1;
}

#footer .row [class*="col-md-*"] {
    min-height: 22px;
}


#footer .pull-right {
    color: #fff;
}

#footer p {
    margin: 0;
}


#inei-notas p a i{
	margin-right: 5px;
}


/* NAV */

#nav-primary {
    border-width: 0 0 1px;
    top: 60px;
}

.navbar-default .navbar-nav > li > a {
    color: #447BC4;
}

.navbar-default .navbar-brand {
    color: #333333;
}

#nav-primary .container-fluid {
background: url(../img/bg-header.png) repeat right 0 #eff7fa !important;
}

.navbar-default .navbar-right > li > a {
    color: #333;

}

#nav-user{
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
background:#f8f8f8;box-shadow:0 2px 0 rgba(152, 178, 201, 0.1) inset, 0 0 3px 2px rgba(152, 178, 201, 0.1) inset;-webkit-box-shadow:0 2px 0 rgba(152, 178, 201, 0.1) inset, 0 0 3px 2px rgba(152, 178, 201, 0.1) inset; -moz-box-shadow:0 2px 0 rgba(152, 178, 201, 0.1) inset, 0 0 3px 2px rgba(152, 178, 201, 0.1) inset;-moz-transition:background 0.1s ease-out;-webkit-transition:background 0.1s ease-out
}

/* CONTENT */

.main-content{
    position: relative;
    top: 71px;
}


/* TABS */

.nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 18px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
background-color: #447BC4 ;
color: #fff;
}

.nav-tabs {
border-bottom: 1px solid #ccc;
padding: 0;
margin-bottom: 20px;
}

.topNavbar #nav-primary .container-fluid{
  background: #444444 !important;
}

.topNavbar .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.topNavbar .navbar-default .navbar-brand {
    color: #ccc;
}


.topNavbar .navbar-default .navbar-nav > .active > a, 
.topNavbar .navbar-default .navbar-nav > .active > a:hover, 
.topNavbar .navbar-default .navbar-nav > .active > a:focus {
    background: none repeat scroll 0 0 #000000;
}  

/* TABS */



/* iNPUTS */

.form-control {
    padding: 4px 6px;
}

.input1{
  width: 15px !important;
}

.input2{
  width: 35px !important;
}

.input3{
  width: 44px !important;
}

.input4{
  width: 38px !important;
}

.input5{
  width: 40px !important;
}

.input6{
  width: 45px !important;
}

.input7{
  width: 51px !important;
}

.input8{
  width: 81px !important;
}

.input9 {
    width: 101px !important;
}

.input10{
  width: 105px !important;
}

.input12{
  width: 122px !important;
}

.input13{
  width: 135px !important;
}


.input200{
  width: 200px !important;
}

.input98p{
  width: 98.5% !important;
}

.textarea98p{
  width: 98.5% !important;
}

/* iNPUTS */
